<div style="font-size: larger">
    <form name="myForm">
        <label for="mySelect">Search by:</label>
        <select name="mySelect" id="mySelect"
                ng-options="option.name for option in dataA.availableOptions track by option.id"
                ng-model="dataA.selectedOption"></select>
        <span ng-if="dataA.selectedOption.id == 1"><input type="number" ng-minlength="0">Age</span>
        <span ng-if="dataA.selectedOption.id == 2"><input type="text">Market Value</span>
        <span ng-if="dataA.selectedOption.id == 3"><input type="password">Market value</span>
        <span>{{data.indexOf(dataA.selectedOption)}}</span>
    </form>
</div>
<table class="table table-bordered">
    <thead>
    <tr style="background-color: darkgrey">
        <th>Name</th>
        <th>Position</th>
        <th>Jersey number</th>
        <th>Date of birth</th>
        <th>Nationality</th>
        <th>Contact Until</th>
        <th>Market value</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="player in playersRes.players | orderBy:'sortingByPosition'" style="background-color:mintcream ">
        <td>{{player.name}}</td>
        <td>{{player.position}}</td>
        <td>{{player.jerseyNumber}}</td>
        <td>{{player.dateOfBirth}}</td>
        <td>{{player.nationality}}</td>
        <td>{{player.contractUntil}}</td>
        <td ng-if="player.marketValue != null">{{player.marketValue}}</td>
        <td ng-if="player.marketValue == null">No market value</td>
    </tr>
    </tbody>
</table>