<div league-table-group>
    <span>Group: </span><button type="button" ng-class="primaryClassIndex === $index ? 'btn btn-primary' : 'btn btn-default'" ng-repeat="n in [] | range : leagues.standings.length" ng-click="changeGroup($index)">{{n}}</button>
</div>
<table class="table table-bordered">
    <thead>
    <tr style="background-color: darkgrey">
        <th>Position</th>
        <th>Team name</th>
        <th>Points</th>
        <th>Goals</th>
        <th>GA</th>
        <th>GD</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="league in leagueGroupTeams | orderBy:['-points','-goalDifference']" style="background-color:mintcream ">
        <td>{{$index + 1}}</td>
        <td><a href="#/season/{{league.teamId}}/team">{{league.team}}</a></td>
        <td>{{league.points}}</td>
        <td>{{league.goals}}</td>
        <td>{{league.goalsAgainst}}</td>
        <td>{{league.goalDifference}}</td>
    </tr>
    </tbody>
</table>