<div class="container text-center">
    <h1>Web Football API</h1>
    <div class="row" ng-hide="errorMessage">
        <div class="col-md-2 col-md-offset-2">
            <h2>Make a new team</h2>
            <p>
                <button type="button" ng-click="">Go to teams</button>
            </p>
        </div>
        <div class="col-md-2 col-md-offset-4">
            <h2>Seasons</h2>
            <div>
                <div><b>Choose season</b></div>
                <div>
                    <select ng-model="godina" ng-change="changeYear()">
                        <option>2015/2016</option>
                        <option>2016/2017</option>
                    </select>
                </div>
                <a class="btn btn-default" ng-click="setYear()" href="#/footballSeason/{{year}}">Confirm</a>
            </div>
        </div>
    </div>
    <div style="text-align: center;position: fixed;
     top: 50%;
     left: 50%;
     -webkit-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%)">
        <h2 style="color: red">{{errorMessage}}</h2>
    </div>
</div>