<div class="container text-center">
    <h1>Web Football API</h1>
    <div class="row" ng-hide="errorMessage">
        <div class="col-md-2 col-md-offset-2">
            <h2>Make a new team</h2>
            <p>
                <button type="button" ng-click="">Go to teams</button>
            </p>
        </div>
        <div class="col-md-2 col-md-offset-4">
            <h2>Seasons</h2>
            <div>
                <div><b>Choose season</b></div>
                <div>
                    <select ng-model="godina" ng-change="changeYear()">
                        <option>2015/2016</option>
                        <option>2016/2017</option>
                    </select>
                </div>
                <a class="btn btn-default" href="#/footballSeason/{{year}}">Confirm</a>
            </div>
        </div>
    </div>
    <div style="text-align: center;position: fixed;
     top: 50%;
     left: 50%;
     -webkit-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%)">
        <h2 style="color: red">{{errorMessage}}</h2>
    </div>
    <div>Operator is: {{inputFields.searchBy}}</div>
    <div>
        {{inputFields.equal}}
    </div>
    <div>
        {{inputFields.inputNumber}}
    </div>
    <div>
        <form name="myForm">
            <span>Search by: </span>
            <select ng-model="inputFields.searchBy"
                    ng-change="inputFields.equal = null; inputFields.inputNumber = null">
                <option ng-selected="{{operator.displayName == inputFields.searchBy}}"
                        ng-repeat="operatoree in operators" value="{{operatoree.displayName}}">
                    {{operatoree.displayName}}
                </option>
            </select>
            <span ng-if="inputFields.searchBy == 'Age' || inputFields.searchBy == 'Market Value'">
    <select ng-model="inputFields.equal" >
    <option>
      Equal
    </option>
    <option>
      More/less
    </option>
    </select>
            </span>
            <span ng-if="inputFields.searchBy == 'Age'">
             Number: <input type="number" name="valText" placeholder="15-50" ng-model="inputFields.inputNumber"
                            input-number-age/>
              <span style="color: red;"
                    ng-show="myForm.valText.$error.inputNumberAge">Value should be between 15 - 50</span>
         </span>
            <span ng-if="inputFields.searchBy == 'Market Value'">
             Number: <input type="number" name="valMarketValue" ng-model="inputFields.inputNumber" placeholder="0 or more"
                            input-number-market-value/>
              <span style="color: red;" ng-show="myForm.valMarketValue.$error.inputNumberMarketValue">Minus value is not allowed</span>
         </span>
            <span ng-if="inputFields.searchBy == 'Name'"><input type="text" placeholder="Type a text" ng-model="inputFields.inputNumber" input-name-value >Name</span>
            <span ng-if="inputFields.searchBy == 'Position'"><select>
     <option>GK</option><option>LB</option><option>CB</option><option>RB</option><option>DMF</option><option>CMF</option><option>AMF</option><option>LWF</option><option>RWF</option><option>SS</option>
     <option>CF</option>
     </select></span>
            <div></div>
        </form>
    </div>

</div>