<table class="table table-bordered">
    <thead>
    <tr style="background-color: darkgrey">
        <th>League</th>
        <th>Number of teams</th>
        <th>Current matchday</th>
        <th>Number of matchdays</th>
        <th>Number of games</th>
        <th>Options</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="league in leagues" style="background-color:mintcream ">
        <td>{{league.caption}}</td>
        <td>{{league.numberOfTeams}}</td>
        <td ng-if="league.currentMatchday == 0">All fixtures were played</td>
        <td ng-if="league.currentMatchday != 0">{{league.currentMatchday}}</td>
        <td>{{league.numberOfMatchdays}}</td>
        <td>{{league.numberOfGames}}</td>
        <td>
            <div class="dropdown">
                <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Options
                    <span class="caret"></span></button>
                <ul class="dropdown-menu ">
                    <li><a href="#/season/{{league.id}}/teams">Teams</a></li>
                    <li ng-if="!(league.league == 'CL' || league.league == 'EL' || league.league == 'EC' || league.league == 'WC')">
                        <a ng-show="!(league.league == 'DFB' || league.league == 'FAC' || league.league == 'CDR')" href="#/league/{{league.id}}/fixtures" >Fixtures League</a>
                        <a ng-show="league.league == 'DFB' || league.league == 'FAC' || league.league == 'CDR'" href="#/season/cup/{{league.id}}/fixtures">Fixtures Cup</a>
                    </li>
                    <li ng-if="!(league.league == 'DFB' || league.league == 'FAC' || league.league == 'CDR') ">
                        <a ng-href="{{function(league)}}">League table</a>
                        <a ng-href="#/season/{{league.id}}/leaguetable?table={{function(league.league)}}">Test</a>
                        <!--<a ng-if="league.league == 'CL' || league.league == 'EL' || league.league == 'EC' || league.league == 'WC'" href="#/season/{{league.id}}/leaguetable?table=true" ng-click='groupLeague(league)'>League table</a>-->
                        <!--<a ng-if="!(league.league == 'CL' || league.league == 'EL' || league.league == 'EC' || league.league == 'WC')" href="#/season/{{league.id}}/leaguetable?table=false" ng-click='groupLeague(league)'>League table</a>-->
                    </li>
                </ul>
            </div>
        </td>
    </tr>
    </tbody>
</table>

