<head>
    <title>Leagues</title>
</head>
<body>
<table ng-init="initTeams()" class="table table-bordered">
    <thead>
    <tr style="background-color: darkgrey">
        <th>Coat of arms</th>
        <th><button ng-click="order('shortName')">Short Name</button></th>
        <th><button ng-click="order('name')">Name</button></th>
        <th><button ng-click="order('squadMarketValue')">Squad market value</button></th>
        <th><button ng-click="orderBY=''"> Set to unsorted </button></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="team in teams | orderBy:orderBY:reverse" style="background-color:mintcream" >
        <td><img ng-src="{{team.crestUrl}}" width="50pxx" height="50ppx"></td>
        <td class="centerR">{{team.shortName}}</td>
        <td class="centerR">{{team.name}}</td>
        <td style="vertical-align: middle"><div>{{team.squadMarketValue}}</div> </td>
        <td>
            <div class="dropdown">
                <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Options
                    <span class="caret"></span></button>
                <ul class="dropdown-menu ">
                    <li><a href="#/season/{{team._links.self.href}}/fixtures">Fixtures</a></li>
                    <li><a href="#/season/{{team._links.self.href}}/players">Players</a></li>
                </ul>
            </div>
        </td>
    </tr>
    </tbody>
</table>
</body>